<main >
      <h1 class="text-6xl font-semibold tracking-tight font-sans p-6 px-12 ">Let's start🚀</h1>
      <p class="text-slate-400 ml-16 w-2/3 mr-8">Unlock the potential of architectural design effortlessly with PixelParagon's simplified questionnaire-based approach. Tailor spaces seamlessly, from homes to corporate offices, by providing inputs for personalized 3D models.</p>
      <hr class="my-6 mx-7 border-[#291F43]">
      <div class="flex justify-center">
      <app-form-component></app-form-component>
      </div>
</main>


<router-outlet></router-outlet>
