<main>
      <h1 class="text-4xl font-semibold tracking-tight font-sans p-6 px-12">Let's start🚀</h1>
      <p class="text-slate-400 ml-16 w-2/3 mr-8">Unlock the potential of architectural design effortlessly with PixelParagon's simplified questionnaire-based approach. Tailor spaces seamlessly, from homes to corporate offices, by providing inputs for personalized 3D models.</p>
      <hr class="my-6 mx-7 border-[#291F43]">
      <div class="flex justify-center">
        <app-form-component></app-form-component>
        <!-- <app-map-page></app-map-page> -->
      </div>
      <button class="flex bg-[#3C2E69] py-2 w-72 text-lg mt-8 font-medium ml-6 rounded-lg items-center justify-center gap-x-2 hover:scale-105 hover:bg-[#6958AD] hover:-translate-y-1 transition-all duration-300 ease-in-out" (click)="onClickNavigateTo5000()">Use Map</button>

    
</main>
    
