<main class="flex">
      <!-- app.component.html -->

<div class="h-svh grid grid-cols-2 grid-rows-2 gap-4 p-8">
      <!-- 1st Box -->
      <div class="bg-blue-500 p-6 rounded-md">
        <h2 class="text-2xl font-bold mb-4 text-white">Why Choose Us</h2>
        <p class="text-white">
          Elevate your projects with PixelParagon's cutting-edge solutions. We prioritize innovation, user-friendly experiences, and unmatched design precision.
        </p>
      </div>
    
      <!-- 2nd Box -->
      <div class="bg-green-500 p-6 rounded-md">
        <h2 class="text-2xl font-bold mb-4 text-white">Our Specialities</h2>
        <p class="text-white">
          Explore a spectrum of architectural possibilities tailored to your needs. PixelParagon specializes in transforming spaces, from residential havens to corporate landscapes, ensuring each design is unique and awe-inspiring.
        </p>
      </div>
    
      <!-- 3rd Box -->
      <div class="bg-yellow-500 p-6 rounded-md">
        <h2 class="text-2xl font-bold mb-4 text-white">Our Vision</h2>
        <p class="text-white">
          Envisioning a world where architectural creativity knows no bounds, PixelParagon strives to be the catalyst for transformative design experiences. We aspire to empower individuals and businesses to bring their architectural dreams to life.
        </p>
      </div>
    
      <!-- 4th Box -->
      <div class="bg-red-500 p-6 rounded-md">
        <h2 class="text-2xl font-bold mb-4 text-white">Our Mission</h2>
        <p class="text-white">
          PixelParagon is on a mission to democratize architecture. We aim to simplify the design process, making it accessible to everyone. Our mission is to foster a community where innovation, collaboration, and unparalleled design thrive.
        </p>
      </div>
    </div>
    
</main>

<router-outlet></router-outlet>
