
<main class="text-white" >
<div class="flex z-10	 bg-[#1B1525] w-screen h-11 justify-between sticky top-0 	backdrop-filter backdrop-blur-lg bg-opacity-30 border-b border-gray-200">
  <h1 class="text-[#BAA7FF] p-2 mx-4 font-mono text-xl subpixel-antialiased tracking-widest">PixelParagon</h1>
  <section>
    <ul class="flex cursor-pointer">
      <li class="h-fit mt-2 mr-7 "><a class="hover:text-[#7D66D9] " routerLink="" routerLinkActive="active" >Home</a></li> 
      <li class="h-fit mt-2 mr-7 hover:text-[#7D66D9] "><a routerLink="/getstarted" routerLinkActive="active">Get Started</a></li>
      <li class="h-fit mt-2 mr-7 hover:text-[#7D66D9] "><a routerLink="/info" routerLinkActive="active" >info</a></li>

    </ul>
</section>
</div>

<router-outlet></router-outlet>


<footer class="relative bg-black pt-8 pb-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl fonat-semibold text-blueGray-700">Let's keep in touch!</h4>
        <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
          Find us on any of these platforms, we respond 1-2 business days.
        </h5>
      
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Useful Links</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="">About Us</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="">Blog</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="">Github</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="">Free Products</a>
              </li>
            </ul>
          </div>
        <div class="w-full lg:w-4/12 px-4">
          <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Other Resources</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="">MIT License</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="">Terms &amp; Conditions</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="">Privacy Policy</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-blueGray-300">
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        Copyright © <span id="get-current-year">2024</span><a href="" class="text-blueGray-500 hover:text-gray-800" target="_blank"> PixelParagon</a>
      </div>
    </div>
  </div>
</footer>

</main>

